
<li class="layui-nav-item"><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon-set"
                                                                        data-icon="layui-icon layui-icon-set"></i><cite>系统设置</cite><span
        class="layui-nav-more"></span></a>
    <dl class="layui-nav-child">
        <dd><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon layui-icon layui-icon-username"
                                                         data-icon="layui-icon layui-icon layui-icon layui-icon-username"></i><cite>管理员设置</cite><span
                class="layui-nav-more"></span></a>
        <dd><a href="javascript:void(0)" data-url="/sysAuth/gotoList"><i class="layui-icon layui-icon layui-icon-auz"
                                                                         data-icon="layui-icon layui-icon layui-icon-auz"></i><cite>权限设置</cite></a>
        </dd>
        <dd><a href="javascript:void(0)" data-url="/sysRole/gotoList"><i
                class="layui-icon layui-icon layui-icon-username"
                data-icon="layui-icon layui-icon layui-icon-username"></i><cite>角色管理</cite></a></dd>
        <dd><a href="javascript:void(0)" data-url="/sysUser/gotoList"><i class="layui-icon layui-icon layui-icon-user"
                                                                         data-icon="layui-icon layui-icon layui-icon-user"></i><cite>用户设置</cite></a>
        </dd>
        </dd>
        <dd><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon-file-b"
                                                         data-icon="layui-icon layui-icon-file-b"></i><cite>文件管理</cite><span
                class="layui-nav-more"></span></a>
        <dd><a href="javascript:void(0)" data-url="/fileImages/gotoList"><i class="layui-icon layui-icon-file"
                                                                            data-icon="layui-icon layui-icon-file"></i><cite>图片管理</cite></a>
        </dd>
        </dd>
        <dd><a href="javascript:void(0)" data-url="/druid/index.html"><i class="layui-icon layui-icon-console"
                                                                         data-icon="layui-icon layui-icon-console"></i><cite>数据源管理</cite></a>
        </dd>
    </dl>
    <span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span></li>
<li class="layui-nav-item"><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon-dialogue"
                                                                        data-icon="layui-icon layui-icon-dialogue"></i><cite>日志管理</cite><span
        class="layui-nav-more"></span></a>
    <dl class="layui-nav-child">
        <dd><a href="javascript:void(0)" data-url="/sysOperationLog/gotoList"><i
                class="layui-icon layui-icon layui-icon layui-icon-top"
                data-icon="layui-icon layui-icon layui-icon layui-icon-top"></i><cite>操作日志</cite></a></dd>
        <dd><a href="javascript:void(0)" data-url="/sysLoginLog/gotoList"><i
                class="layui-icon layui-icon layui-icon-login-weibo"
                data-icon="layui-icon layui-icon layui-icon-login-weibo"></i><cite>登录日志</cite></a></dd>
    </dl>
    <span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span></li>
<li class="layui-nav-item"><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon-fonts-code"
                                                                        data-icon="layui-icon layui-icon-fonts-code"></i><cite>代码生成</cite><span
        class="layui-nav-more"></span></a>
    <dl class="layui-nav-child">
        <dd><a href="javascript:void(0)" data-url="/testCode/gotoList"><i class="layui-icon layui-icon-file-b"
                                                                          data-icon="layui-icon layui-icon-file-b"></i><cite>测试生成代码</cite></a>
        </dd>
    </dl>
    <span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span></li>
<li class="layui-nav-item"><a href="javascript:void(0)" data-url="/"><i class="layui-icon layui-icon-chart"
                                                                        data-icon="layui-icon layui-icon-chart"></i><cite>报表管理</cite><span
        class="layui-nav-more"></span></a>
    <dl class="layui-nav-child">
        <dd><a href="javascript:void(0)" data-url="/sysUserCharts/gotoLine"><i
                class="layui-icon layui-icon layui-icon layui-icon layui-icon-chart-screen"
                data-icon="layui-icon layui-icon layui-icon layui-icon layui-icon-chart-screen"></i><cite>折线图</cite></a>
        </dd>
        <dd><a href="javascript:void(0)" data-url="/sysUserCharts/gotoBar"><i
                class="layui-icon layui-icon layui-icon-chart-screen"
                data-icon="layui-icon layui-icon layui-icon-chart-screen"></i><cite>柱状图</cite></a></dd>
        <dd><a href="javascript:void(0)" data-url="/sysUserCharts/gotoPie"><i
                class="layui-icon layui-icon layui-icon layui-icon-picture"
                data-icon="layui-icon layui-icon layui-icon layui-icon-picture"></i><cite>饼图</cite></a></dd>
    </dl>
    <span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span></li>