<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{common/common-head.html::common-head}"></div>
	<script type="text/javascript" th:src="@{/static/lib/echarts.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(function () {
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            option = {
                color: ['#222222'],
                xAxis: {
                    type: 'category',
                    data:[[${x}]]
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [[${y}]],
                    type: 'line'
                }]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        })

	</script>
</head>

<body style="height: 100%; margin: 0">
<nav class="breadcrumb" ><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	折线图
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
	   href="javascript:loads()" title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div  id="container"  style="height: 80%">

</div>
</body>
</html>