<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/layui/css/formSelects-v4.css}"/>
    <div th:replace="~{common/common-head.html::common-head}"></div>
</head>
<body class="body-common">
<div class="page-container">
    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" name="id" th:value="${test_one_to_one_class.id }" />

            <div class="layui-form-item">
                <label class="layui-form-label">用户id</label>
                <div class="layui-input-block">
					<select name="userId" id="userId" xm-select="select13" xm-select-radio="" xm-select-search="" lay-verify="required">
						<option  th:each="rowdata:${goto_detail_test_one_to_one_user}" th:value="${rowdata.id}" th:selected="${test_one_to_one_class.userId==rowdata.id}"  th:text="${rowdata.id}"></option>
					</select>

                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">班级名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="className" id="className" maxlength="50" lay-verify="required" autocomplete="off" placeholder="请输入班级名称" class="layui-input" th:value="${test_one_to_one_class.className}" >
                    </div>
                </div>
            <div class="layui-form-item">
                <label class="layui-form-label">班级人数</label>
                <div class="layui-input-block">
                    <input type="number" name="quantity" id="quantity" maxlength="10" lay-verify="number" autocomplete="off" placeholder="请输入班级人数" class="layui-input" th:value="${test_one_to_one_class.quantity}" >
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">create_time</label>
                    <div class="layui-input-block">
                        <input type="text" name="createTime" id="createTime" autocomplete="off" class="layui-input" lay-verify="required" th:value="${test_one_to_one_class.createTime_}" >
                    </div>
                </div>
        <div class="layui-form-item" style="text-align: center">
            <span th:if="${session.userAuth==null || #maps.containsKey(session.userAuth,'oneToOneClass/save')}">
            <button class="layui-btn" lay-submit="" lay-filter="save-data">提交</button>
            </span>
            <input type="button" class="layui-btn"  onclick="myback()" value="返回" />
        </div>
    </form>
</div>
<!--
<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.config({
        base: rootPath+'static/js/layui/extend/'
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'layedit', 'laydate','formSelects'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
        form.render();
        var formSelects = layui.formSelects;
        formSelects.render();

           laydate.render({
               elem: '#createTime'
               , type: 'datetime'
           });

        //自定义验证规则
        form.verify({});

        //监听提交
        form.on('submit(save-data)', function (data) {
            $.post(rootPath+"oneToOneClass/save",data.field,function (data) {
                if(data.code==0){
                    myAlert("保存成功");
                    setTimeout(function () {
                        myback("oneToOneClass/gotoList");
                    },alertTime)
                }else{
                    myAlert("保存失败->"+data.message)
                }
            });
            return false
        });

    });
</script>

</body>
</html>
