<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{common/common-head.html::common-head}"></div>
</head>
<body >
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
	<legend>欢迎使用auto-code-admin代码自动生成模板</legend>
</fieldset>
<ul class="layui-timeline">
	<li class="layui-timeline-item">
		<i class="layui-icon layui-timeline-axis"></i>
		<div class="layui-timeline-content layui-text">
			<h3 class="layui-timeline-title">项目架构</h3>
			<p>
			<pre class="layui-code" lay-title="java" lay-skin="notepad">
				auto-code-admin(根节点)
				 -auto-code-common ->一些公共的类,以及配置
				 -auto-code-sys ->系统设置模块
				 -auto-code-charts ->报表模块
				 -auto-code-web ->发布模块(该模块聚合以上模块进行发布,如果报表模块不想使用直接在pom.xml将该模块注释掉就好.)
			  </pre>
			</p>
		</div>
	</li>
	<li class="layui-timeline-item">
		<i class="layui-icon layui-timeline-axis"></i>
		<div class="layui-timeline-content layui-text">
			<h3 class="layui-timeline-title">如何运行?</h3>
			<p>
				1.安装jdk1.8+, mysql5.0+,maven,git
				2. 导入 auto-code-admin 下的 auto_code.sql 初始化数据库
				3. <a href="https://gitee.com/ztp/auto-code-admin" target="_blank">下载源码</a>
				4. auto-code-admin 打开cmd密令  执行 mvn clean package
				5. auto-code-admin/auto-code-web/target 找到jar包 执行 java -jar auto-code-web-1.0-SNAPSHOT.jar
			</p>
		</div>
	</li>
	<li class="layui-timeline-item">
		<i class="layui-icon layui-timeline-axis"></i>
		<div class="layui-timeline-content layui-text">
			<h3 class="layui-timeline-title">如何生成代码?</h3>
			<p>
				auto-code-common 模块里有个 auto-code-1.0.6.jar 的本地jar.<a href="https://gitee.com/ztp/auto-code" target="_blank">源码地址</a><br/>
			使用实例见 AutoCodeTest.java
			<pre class="layui-code" lay-title="java" lay-skin="notepad">
				package com.zengtengpeng.common;
				import com.zengtengpeng.generator.bean.StartCode;
				import com.zengtengpeng.generator.utils.AutoCodeUtils;

				import java.util.Arrays;
				import java.util.List;

				public class AutoCodeTest {
					public static void main(String[] args) {
						List<String> dataNames= Arrays.asList("test_code");
						StartCode startCode=new StartCode();
						//jdbc连接
						startCode.setJdbc("jdbc:mysql://localhost:3306/auto_code");
						//数据库用户名
						startCode.setUser("root");
						//数据库密码
						startCode.setPassword("111111");
						//需要生成的表明
						startCode.setDataNames(dataNames);
						//生成代码的绝对路径
						startCode.setParentPath("E:\\resource\\workspaceJDB\\auto-code-admin\\auto-code-web");
						//生成代码的父包
						startCode.setParentPack("com.zengtengpeng.test");
						//开始生成
						AutoCodeUtils.startByWebAdmin(startCode);
					}
				}
			  </pre>
			</p>
		</div>
	</li>
</ul>
</section>
</body>
</html>