<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common/common-head.html::common-head}"></div>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    首页
    <span class="c-gray en">&gt;</span>
    测试生成代码
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:loads();" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" name="id" th:value="${test_auto_code.id}" />

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input" th:value="${test_auto_code.name}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" id="age" lay-verify="number" maxlength="2" autocomplete="off" placeholder="请输入名称"
                       class="layui-input" th:value="${test_auto_code.age}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="status" id="status" lay-verify="required" >
                    <option value="" >请选择</option>
                    <option value="0" th:selected="${test_auto_code.status==0}">禁用</option>
                    <option value="1" th:selected="${test_auto_code.status==1}">启动</option>
                    <option value="2" th:selected="${test_auto_code.status==2}">删除</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入描述" class="layui-textarea" lay-verify="required" th:name="descc"  th:text="${test_auto_code.descc}" id="descc"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-block">
                    <input type="text" name="pushTime" id="pushTime" autocomplete="off" class="layui-input" lay-verify="required" th:value="${test_auto_code.pushTime_}">
                </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn" lay-submit="" lay-filter="save-data">提交</button>
            <input type="button" class="layui-btn"  onclick="myback()" value="返回" />
        </div>
    </form>
</div>
<!--
<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        form.render();


        laydate.render({
            elem: '#pushTime'
            ,type: 'datetime'
        });

        //自定义验证规则
        form.verify({});

        //监听提交
        form.on('submit(save-data)', function (data) {
            $.post(rootPath+"testAutoCode/save",data.field,function (data) {
                if(data.code==0){
                    myAlert("保存成功");
                    setTimeout(function () {
                        myback();
                    },2000)
                }else{
                    myAlert("保存失败->"+data.msg)
                }
            });
            return false
        });

    });
</script>

</body>
</html>